<ion-view id="app" style="background-color:#FFFFFF;">
  <ion-tabs class="tabs-stable tabs-icon-top" id="app-tabs1" style="">
    <ion-tab title="Listings" icon="ion-pricetags" href="#/app/app" id="app-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Comparison" icon="ion-android-list" href="#/app/comparison" id="app-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Appointments" icon="ion-archive" href="#/app/applications" id="app-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Profile" icon="ion-android-person" href="#/app/myProfile" id="app-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="writeReview" hidden="true">
      <ion-nav-view name="writeReview"></ion-nav-view>
    </ion-tab>
    <ion-tab title="viewPosting" hidden="true" href="#/app/viewPosting">
      <ion-nav-view name="viewPosting"></ion-nav-view>
    </ion-tab>
    <!-- <ion-tab title="comparison" href="#/app/comparison">
      <ion-nav-view name="comparison"></ion-nav-view>
    </ion-tab> -->
  </ion-tabs>
</ion-view>