<ion-view title="Applications" id="applications" style="">
  <ion-pane>
    <ion-header-bar class="bar-stable">
      <h1 class="title">Appointments</h1>
    </ion-header-bar>
    <ion-content padding="true" class="has-header" overflow-scroll="true">
      <div class="card" ng-repeat="event in events">
        <div class="item item-divider">
          {{event.title}}
        </div>
        <div class="item item-text-wrap">
          {{ event.description }}
          <p/>
          <strong>When: {{ event.date | date:'short' }}</strong>
        </div>
      </div>

    </ion-content>
  </ion-pane>
</ion-view>