
<ion-view title="Listing Comparison Analysis" id="ComparisonView" cache-view="false">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <ion-content padding="true" class="has-header" id="compview">
        <div class="row">
            <!-- <div class="col col-30">
            </div> -->
            <div class="col col-50">
                <img style="width:100%;"src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
            </div>
            <div class="col col-50">
                    <img style="width:100%;"src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
            </div>
        </div>
        </div>
        <h4 class="text-center"><i class="fas fa-dollar-sign" style="color: green;"></i> Rent Score <i class="fas fa-dollar-sign" style="color: green;"></i> </h4>
        <div class="row text-center">
            <div class="col item" ng-repeat="value in valueData track by $index" ng-click="openValueModal($index)">
                <h4 ng-style="{opacity: isHighestValue(valueData, averageValue, $index, true) ? 0.5 : 1}">
                    <span ng-repeat="currentRevStar in createStars(calculateScore(averageValue, value, true)) track by $index" ng-class="createStars(calculateScore(averageValue, value, true))[$index]"></span>
                    {{calculateScore(averageValue, value, true) | number: 1}}
                </h4>
            </div>
        </div>
        <h4 class="text-center"><i class="fas fa-lock" style="color: red;"></i> Safety Score <i class="fas fa-lock" style="color: red;"></i> </h4>
        <div class="row text-center">
            <div class="col item" ng-repeat="value in safetyScoreData track by $index" ng-click="openSafetyModal($index)">
                <h4 ng-style="{opacity: isHighestValue(safetyScoreData, averageSafetyScore, $index) ? 0.5 : 1}">
                    <span ng-repeat="currentRevStar in createStars(calculateScore(averageSafetyScore, value, false)) track by $index" ng-class="createStars(calculateScore(averageSafetyScore, value, false))[$index]"></span>
                    {{calculateScore(averageSafetyScore, value, false) | number: 1}}
                </h4>
            </div>
        </div>
        <h4 class="text-center"><i class="fas fa-walking" style="color: purple;"></i> Walk Score <i class="fas fa-walking" style="color: purple;"></i> </h4>
        <div class="row text-center">
            <div class="col item" ng-repeat="value in walkScoreData track by $index" ng-click="openWalkModal($index)">
                <h4 ng-style="{opacity: isHighestValue(walkScoreData, averageWalkScore, $index) ? 0.5 : 1}">
                    <span ng-repeat="currentRevStar in createStars(calculateScore(averageWalkScore, value, false)) track by $index" ng-class="createStars(calculateScore(averageWalkScore, value, false))[$index]"></span>
                    {{calculateScore(averageWalkScore, value, false) | number: 1}}
                </h4>
            </div>
        </div>
    </ion-content>


</ion-view>