<ion-view title="Profile" id="myProfile" style="">
  <ion-content padding="true" class="has-header"></ion-content>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  

  <div id="profile-info">
    <div class="picture">
      <img id="profile-picture" ng-src="img/userProfileImg/{{user.id}}.jpg" />
    </div>
    <div class="user-info">
      <p id="username">{{user.name}}</p>
      <p id="location">{{user.location}}</p>
      <div id="rating">
        <span ng-repeat="currentStar in averageStars track by $index" ng-class="averageStars[$index]"></span>
        {{rating}}
      </div>
      <p id="description">{{user.description}}</p>
    </div>
  </div>
  <div id="arrangement-info">
    <ul id="status-list">
      <li ng-repeat="status in user.status">{{status}}</li>
    </ul>
    <hr></hr>
    <div id="listings" ng-if="user.listings.length>0">
      <!--ADD THESE IN FOR SOME LANDLORD....-->
      <p>listings</p>
    </div>
    <div id="reviews" ng-if="user.reviews.length">
      <p id="review-title">Reviews</p>
      <div class="review-item" ng-repeat="reviewobject in user.reviews">
          <div class="reviewer-info">
              <img class="reviewer-picture" ng-src="img/userProfileImg/{{reviewobject.id}}.jpg"/>
              <p id="reviewer-name">{{reviewobject.name}}</p>
              <p id="reviewer-timestamp">{{reviewobject.timestamp}}</p>

          </div>
          <div class="review-text">
              {{reviewobject.review}}
          </div>
      </div>
    </div>
    <div id="nullreviews" ng-if="user.reviews.length===0">
      <p id="null-review-text"> There are no reviews to show</p>
    </div>
  </div>
</ion-view>