<ion-view title="Postings" id="postings" style="">
  <ion-content padding="true" class="has-header">
    <form id="postings-form4" class="list">
      <label class="item item-input" id="postings-search1" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="" type="search">
      </label>
      <ion-item class="item-thumbnail-left item-icon-right" id="postings-list-item13" style="">
        <img src="img/0vjW5aZEQ5GKTo5UVCbX_temp1.png">
        <h2>100 West Street</h2>
        <p style="white-space:normal;">1 Bedroom $700/month</p>
        <i class="icon ion-heart icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="postings-list-item14" style="">
        <img src="img/O1pplughRbqjKLyjgj9Y_meet-icon-skyrise.jpg">
        <h2>235 East Avenue</h2>
        <p>2 Bedroom $1500/month</p>
        <i class="icon ion-heart icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="postings-list-item16" style="">
        <img src="img/e0GsJaWSE2TzDBWPmvZQ_phillip-square-i-blair-house-house_terri-meyer-boake4.jpg">
        <h2>330 North Drive</h2>
        <p>4 Bedroom $2000/month</p>
        <i class="icon ion-heart icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="postings-list-item15" style="">
        <img src="img/EtbJEM8ERHOmSeLdaACn_img_0558.jpg">
        <h2>237 South Boulevard</h2>
        <p>3 Bedroom $1800/month</p>
        <i class="icon ion-heart icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="postings-list-item18" style="">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="postings-list-item17" style="">
        <h2>Item</h2>
      </ion-item>
    </form>
  </ion-content>
</ion-view>