<ion-view title="View Post" id="viewPosting">
    <ion-content padding="true" class="has-header">
      <h3 id="listing-name">{{posting.name}}}</h3>
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="page3-slider1" style="width:100%;height:200px;">
        <ion-slide-page id="page3-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="page3-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="page3-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="page3-slide27">
          <h1 id="page3-heading3" style="color:#000000;">Slide 4</h1>
        </ion-slide-page>
      </ion-slides>
      <div id="page3-markdown4" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Some friendly
          <strong>markdown</strong>
        </p>
      </div>
      <div id="page3-markdown5" class="show-list-numbers-and-dots">
        <p id="posting-description">{{posting.description}}</p>
      </div>
      <ion-list id="posting-amenities">
        <ion-item ng-repeat="amenity in posting.amenities track by $index" id="amenities-listitem-$index" ng-class="ameneties-item">
            {{amenity}}
        </ion-item>
      </ion-list>


      <div id="map">


      </div>


      <div id="posting-contact-info" class="show-list-numbers-and-dots">
        <p ng-repeat="contact in posting.contactInfo" class="conatct-info-item">{{contact}}</p>
      </div>
      <div id="posting-action-bar" class="button-bar">
        <button id="action-bar-call" class="button button-positive button-block  action-bar" onclick="call(posting.id)">phone call</button>
        <button id="action-bar-email" class="button button-positive button-block action-bar" onclick="email(posting.id)">email</button>
        <button id="action-bar-book" class="button button-positive button-block action-bar" onclick="callSchedule(posting.id)">Book appointment</button>
      </div>
    </ion-content>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOleV8Uv_4KUnbeZ5Ah7Amh7P0DIK7Nbs&callback=initMap"></script>
  </ion-view>