<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">Value Analysis</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
    </ion-header-bar>
    <ion-content  padding="true" class="has-header">
        <div class="row" ng-if="userIncome < valueData[detailViewId]">
            <div class="col">
                <!-- <h4 style="color: red;">It would be unwise to get this property since your monthly income of {{userIncome}} is insufficent for this property</h4> -->
                <h4 style="color: green;">Need a loan?  Seems like you don't have the monthly income to fully rent this property. <a href="https://www.td.com/ca/en/personal-banking/products/borrowing/lines-of-credit/personal-line-of-credit/">Get a loan with TD now</a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>How did we come up with this score?</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5 ng-style="{ color: valueData[detailViewId] > averageValue ? 'red' : 'green' }">You are paying {{valueData[detailViewId]/averageValue * 100 | number:1}}% {{valueData[detailViewId] > averageValue ? "more" : "less" }} than the average lot in the area</h5>
            </div>
        </div>
        <canvas id="doughnut" class="chart chart-doughnut"
            chart-data="incomeData" chart-labels="incomeLabels" chart-options="chartSettings" chart-colors="doughnutChartColors">
        </canvas>
    </ion-content>
</ion-modal-view>